
Problem set 3/PS3.py
Problem set 3/.idea/vcs.xml
Problem set 3/.idea/Problem set 3.iml
Problem set 3/.idea/other.xml
Problem set 3/.idea/modules.xml
Problem set 3/.idea/misc.xml
Problem set 3/.idea/inspectionProfiles/profiles_settings.xml
